:root {
  --background: #f0f2f5;
  --red: #e52e4d;
  --blue: #5429cc;
  --blue-light: #6933ff;
  --text-title: #363f5f;
  --text-body: #969cb3;
  --shape: #ffffff;
  --green: #33cc95;
  --input-background: #e7e9ee;
  --input-placeholder: #969cb2;
  --input-border: #d7d7d7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 720px) {
    font-size: 87.5%;
  }

  body {
    background-color: var(--background);
    -webkit-font-smoothing: antialiased;
  }

  button {
    cursor: pointer;
  }

  [disabled] {
    opacity: 0.6;
    cursor: not-allowed;
  }

  body,
  input,
  textarea,
  button {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong {
    font-weight: 600;
  }
}

.react-modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-modal-content {
  background: var(--background);
  width: 100%;
  max-width: 576px;
  padding: 3rem;
  position: relative;
  border-radius: 0.25rem;

  h1 {
    margin-bottom: 2rem;
  }

  input {
    padding: 0 1.5rem;
    height: 4rem;
    border-radius: 0.25rem;
    background: var(--input-background);
    width: 100%;
    border: 1px solid var(--input-border);
    font-size: 1rem;
    font-weight: 400;

    &::placeholder {
      color: var(--input-placeholder);
      font-weight: 400;
    }

    & + input {
      margin-top: 1rem;
    }
  }

  button[type='submit'] {
    background: var(--green);
    color: #fff;
    width: 100%;
    line-height: 4rem;
    margin-top: 1.5rem;
    font-weight: 600;
    border: 0;
    border-radius: 0.25rem;
    font-size: 1rem;
    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.9);
    }
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.react-modal-close {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  border: 0;
  background: transparent;
  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }
}

// .react-modal-selector {
// display: flex;
// align-items: center;
// width: 100%;
// justify-content: space-between;

// button {
//   display: flex;
//   justify-content: center;
//   line-height: 4rem;
//   border: 0;
//   align-items: center;
//   width: 236px;
//   border: 1px solid var(--input-border);
//   border-radius: 0.25rem;
//   margin: 1rem 0;
//   background-color: var(--background);
//   font-weight: 400;
//   font-size: 1rem;

//   &:hover {
//     border-color: #aaa;
//   }

//   img {
//     margin-right: 1rem;
//     height: 20px;
//     width: 20px;
//   }
// }
// }
